<style>
    body {
        font-family: 'Poppins', sans-serif;
        background-image: url("/img/bg_lg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        header: 100hv;
    }

    .form-editar-categoria {
        padding: 20px;
        border-radius: 10px;
    }

    .form-editar-categoria h1 {
        text-align: center;
        margin: 20px auto;
        color: #fff;
    }
</style>


<section class="container">
   <h1>Editar Categoria</h1>

    <form action="atualizarCategoria/{{categoria.id}}" method="POST">
        <label for="genero">Gênero:</label>
        <input type="text" id="genero" name="genero" value="{{categoria.genero}}"><br><br>

        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao">{{categoria.descricao}}</textarea><br><br>

        <input type="hidden" name="idUsuarioAtualizacao" value="{{categoria.idUsuarioAtualizacao}}">

        <button type="submit">Salvar Alterações</button>
    </form>
</section>
