<style>
    body {
        font-family: 'Poppins', sans-serif;
        background-image: url("/img/bg_lg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        header: 100hv;
    }
</style>
<section class="form-cadastro-filme">
    <form action="/criaFilme" class="form-cadastro-card" method="POST">
        <h2>Formulario de cadastro de filmes</h2>
        <label for="nomeFilme" class="form-cadastro-filme">
            <input type="text" name="nomeFilme" id="nomeFilme" placeholder="Nome">
        </label>

        <label for="generoFilme" class="form-cadastro-filme">
            <input type="text" name="generoFilme" id="generoFilme" placeholder="genero">
        </label>

        <label for="anoFilme" class="form-cadastro-filme">
            <input type="date" name="anoFilme" id="anoFilme" placeholder="ano">
        </label>

        <label for="descricaoFilme" class="form-cadastro-filme">
            <input type="text" placeholder="descricaoFilme">
        </label>

        <button class="botao-cadastro">
            <input type="submit" value="cadastrar">
        </button>

    </form>

   

</section>