<style>
    body {
        font-family: 'Poppins', sans-serif;
        background-image: url("/img/bg_lg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        header: 100hv;
    }

    .home-apresentacao {
        padding: 20px;
        margin: 20px auto;
        border-radius: 10px;
    }

    .home-apresentacao-texto {
        text-align: center;
        margin: 20px auto;
        color: #fff;
    }

    .home-apresentacao-texto h1 {
        font-size: 2em;
    }

    .home-apresentacao-texto p {
        font-size: 1.2em;
    }

    .botao-cadastrar {
        padding: 10px 20px;
        background-color: #fff;
        color: #000;
        border-radius: 5px;
        text-decoration: none;
    }

    .card-filmes-lista {
        display: flex;
        justify-content: space-between;
        max-width: 100%;

        .card-filmes-item {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            margin: 10px;
            max-width: 30%;

            img {
                width: 100%;
                border-radius: 10px;
                height: 450px;
                object-fit:cover

            }

            h3 {
                font-size: 1.5em;
                color: #000;

            }

            p {
                font-size: 1.2em;
                color: #000;
                text-align: justify;
            }

        }

        min-width: 100%;
    }

    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        background-color: rgba(57, 44, 167, 0.726);
        padding: 10px;
        border: none;
        cursor: pointer;
    }

    .slick-next {
        right: 0;
    }
</style>


<section class="home-apresentacao container">

    <div class="home-apresentacao-texto">
        <h1>Seja bem-vindo ao nosso site</h1>
        <p>Este é um site de exemplo para o curso de Node.js</p>
    </div>

    <div>
        {{#if usuario}}
        <a href="/logout" class="botao-cadastrar">Sair</a>
        {{else}}
        <a href="/login" class="botao-cadastrar">Entrar</a>
        {{/if}}
        <div></div>
    </div>

    <div class="card-filmes-lista">
        {{#each filmes}}
        <div class="card-filmes-item">
            <img src="/uploads/{{fileFilme}}" alt="Imagem do Filme">
            <h3>{{nomeFilme}}</h3>
            <p>{{descricaoFilme}}</p>
        </div>
        {{/each}}
    </div>

</section>

<script>
    $(document).ready(function () {
        $('.card-filmes-lista').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 4000,
            prevArrow: '<button class="slick-prev btn btn-primary"> <img src="/img/anterior.svg"></button>',
            nextArrow: '<button class="slick-next btn btn-primary"> <img src="/img/proximo.svg"> </button>',

            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        arrows: true,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        arrows: true,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 3
                    }
                }
            ]
        });
        // Adicionar setas personalizadas

    });
</script>