<style>
    body{
    font-family: 'Poppins', sans-serif;
    background-image:url("/img/bg_lg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    header:100hv;
    }
</style>

<section class="home-apresentacao container">

    <div class="home-apresentacao-texto">
        <h1>Seja bem-vindo ao nosso site</h1>
        <p>Este é um site de exemplo para o curso de Node.js</p>
    </div>

    <div class="home-apresentacao-imagem">
        <img src="/img/home.jpg" alt="Imagem de apresentação">
    </div>

</section>