<style>
    body {
        font-family: 'Poppins', sans-serif;
        background-image: url("/img/bg_lg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        header: 100hv;
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Lista de Categorias</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Genero</th>
                    <th class="categoria-opc">Opções</th>
                </tr>
                {{#each categorias}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{genero}}</td>
                    <td>
                        <a href="/editaCategoria/{{id}}">Editar</a>
                        <a href="/deletaCategoria/{{id}}">Deletar</a>
                    </td>
                </tr>
                {{/each}}
            </table>
                
        </div>
    </div>
</div>