<style>
    body {
        font-family: 'Poppins', sans-serif;
        background-image: url("/img/bg_lg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        header: 100hv;
    }
</style>
<section class="form-cadastro">
    <form action="" class="form-cadastro-card">
        <h2>Login</h2>

        <label for="nome" class="form-cadastro-label">
            <input type="text" name="nome" id="nome" placeholder="Nome">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-person-check-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0" />
                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
            </svg>
        </label>
        </label>
        <label for="senha" class="form-cadastro-label">
            <input type="password" name="senha" id="senha" placeholder="Senha">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock-fill"
                viewBox="0 0 16 16">
                <path
                    d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2" />
            </svg>
        </label>

        <button class="botao-login">
            <a href="/login">Login</a>
        </button>

        <div>
            <p>Novo <a href="/cadastro">Cadastro</a></p>
        </div>

    </form>
</section>