* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------------------------------------------------------------------------------*/
/*--------------------------------------home-----------------------------------------*/
/*-----------------------------------------------------------------------------------*/
.navbar-brand {
    font-size: 30px;
    font-weight: bold;
}

.home-apresentacao {
    height: 100vh;
    color: white;
}

.botao-login-top {
    background-color: #2f39c71f;
    border: none;
    padding: 3px 20px;
    border-radius: 20px;
    border: #2f39c7 3px solid;
    cursor: pointer;
    margin-bottom: 0px;
    font-weight: bold;
    transition: .5s;
}
.botao-login-top:hover {
    background-color: #2f39c7;
    color: white;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.botao-top {
    background-color: #2f39c700;
    padding: 5px 20px !important;
    border: none;
    font-weight: bold;
}

.menu-superior, .barra-footer {
    background-color: #f1f1f1b2;
}

/*-----------------------------------------------------------------------------------*/
/*-------------------------------------/home-----------------------------------------*/
/*-----------------------------------------------------------------------------------*/



.form-cadastro {
    height: 86vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.form-cadastro-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f177;
    padding: 50px;
    border-radius: 20px;
    min-height: 400px;
    min-width: 380px;
}

.form-cadastro-label input {
    background-color: #f1f1f177;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px 10px 0 10px;
    border-radius: 5px;
    width: 100%;
}

.form-cadastro-label input:focus {
    outline: none;
}

.form-cadastro-label input::placeholder {
    color: #000000b6;
}

.form-cadastro-card h2 {
    margin-bottom: 20px;
}

.form-cadastro-label {
    margin-bottom: 30px;
    width: 100%;
}

.navbar-collapse {
    justify-content: flex-end;
}


.botao-login {
    background-color: #2f39c7ab;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.botao-login a {
    color: white;
    text-decoration: none;
}

.botao-login:hover {
    background-color: #2f39c7;
}

.botao-cadastro {
    background-color: #2fc748ab;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.botao-cadastro a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.botao-cadastro:hover {
    background-color: #2fc748;
}

.form-cadastro-label svg {
    position: absolute;
    margin-left: -30px;
    margin-top: 10px;
    color: #000000b6;
}

.form-cadastro-label input:focus {
    color: #000000;
    background-color: #f1f1f1ea;
}

/*-------------------------------------------------------*/
/* -----------------------footer------------------------ */
/*-------------------------------------------------------*/
.barra-footer {
    padding: 10px;
    text-align: center;
    position: relative;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}